 /*          /*  VARIABLE  */

 $color-base : #6b717f;
 $color2 : #fff;
 $color3: #000;
 $color-border: #8C8C8C ;
 $color-title: #BF4080 ;
 $color-succes: green ;
 $color-warning: orange;
 $color-error: red;
 $padding: 10px;  